<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bai.javatest4.dao.CustomerMapper">
    <sql id="myUser">
        id,name,password,email
    </sql>
    <select id="findCustomerByFirstName" resultType="Customer">
         select
             customer_id id,last_name lastName
          from
            customer
          where
             first_name=#{firstName}
    </select>
    <select id="findCustomerById" resultType="Customer">
         select
             customer_id id,last_name lastName,first_name firstName,address_id adderssId
          from
            customer
          where
             customer_id=#{id}
    </select>
    
    <insert id="addCustomer" parameterType="Customer">
        insert into
            customer(first_name,last_name,email,address_id,store_id,active)
        values
            (#{firstName},#{lastName},#{email},#{adderssId},#{storeId},#{active})
    </insert>
    <select id="getAddersses" resultType="Address">
        select
            address_id id,address
        from
            address
    </select>
    
    <select id="findAddressByAddress" resultType="Address">
        select
            address_id id,address
        from
            address
         where
            address=address
    </select>

    <update id="updateCustomer" parameterType="Customer">
        update
            customer
        SET
        <if test="firstName!=null">first_name=#{firstName}, </if>
        <if test="lastName!=null">last_name=#{lastName}, </if>
        <if test="email!=null">email=#{email}, </if>
        <if test="addressId!=null">address_id=#{addressId}, </if>
        customer_id=#{id}
        WHERE
        customer_id=#{id}
    </update>
    
    <delete id="deleteCustomer" >
        delete from
            customer
        where
            customer_id=#{id}
    </delete>


</mapper>